@charset "utf-8";
html {
    font-size: 100%;
}
body {
    margin: 0;
    color: #333;
    font-weight: bold;
}
img {
    width: 100%;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
section .block > h1, section .block > h2 {
    text-align: center;
}
section .block > h1 {
    font-size: 32px;
    margin: 0;
    padding: 60px 0 0 0;
}
section .block > h2 {
    font-size: 16px;
    color: #3BA6C9;
    margin: 12px 0 60px 0;
}
/* -----header----- */
header {
    position: fixed;
    width: 100%;
    height: 94px;
    inset: 0;
    background-color: #fff;
    z-index: 20;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}
header .wrapper {
    max-width: 1022px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    align-items: center;
}
.main-logo {
    display: flex;
    padding:  0 20px;
}
.main-logo img {
    max-width: 47px;
    height: 47px;
    margin: 24px 16px 23px 20px
}
.main-logo h1{
    font-size: 24px;
    margin-top: 30px;
}
.nav {
    display: flex;
    margin: 0;
    box-sizing: border-box;
}
.nav li {
    margin-right: 46px;
}
.nav li a {
    font-size: 16px;
    color: #333;
}
.nav > li:last-child {
    margin-right: 0;
}

.contact a {
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 8px 0 10px 0;
}
.contact button {
    width: 155px;
    height: 37px;
    margin-right: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: linear-gradient(to right,#FA41CC,#6020B0);
}
.toggle ,#mask{
    display: none;
}
/* -----main---- */
#main-top {
    background-image: url(../img/circle.png);
    background-position: top -30px right -100px;
    background-size: auto;
    background-repeat: no-repeat;
}
#main-top .wrapper {
    width: 1022px;
    margin: 0 auto;
}
.main-left {
    margin: 255px 0 155px 20px;
}
.main-text h1 {
    max-width: 352px;
    font-size: 32px;
    margin: 0;
    line-height: 1.1875;
    font-weight: 700;
}
.main-text p {
    width: 193px;
    height: 84px;
    margin: 58px 0 55px 0;
    font-size: 16px;
    line-height: 1.3125;
}
#main-top .contact button {
    margin: 0;
}
.main-img-right img{
    margin: 225px 0 175px 0;
}
/* -----feature------ */
#feature {
    max-width: 1022px;
    margin: 0 auto;
}
.feature-text h1 {
    font-size: 24px;
    text-align: center;
    line-height: 2;
    margin: 0;
}
#feature ul {
    margin: 0 30px;
    padding: 0;
}
.feature-wrapper {
    display: flex;
    justify-content: space-between;
}
.feature-wrapper-reverse {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.feature-img {
    width: 50%;
    margin: 65px 0 88px 0;
}
.feature-text-contents {
    width: 44%;
}
.feature-text-contents h1{
    text-align: left;
    margin:99px 0 35px 0;
}
.feature-text-contents p {
    width: 400px;
    font-size: 16px;
    line-height: 1.625;
}
.feature-wrapper-reverse > .feature-text-contents h1{
    margin-top: 60px;
}
/* ----price----- */
#price {
    margin-top: 155px;
    background-color: #EEFBFB;
    height: 744px;
}
table {
    width: 924px;
    height: 410px;
    table-layout: fixed;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);

}
#price th {
    width: 30%;
    padding: 30px;
    border: 1px solid #f0eded;
    font-size: 14px;
}
#price td {
    width: 70%;
    text-align: left;
    padding: 30px;
    border: 1px solid #f0eded;
    font-size: 14PX;
}
#price p {
    text-align: center;
    font-size: 14px;
    margin: 0;
    padding: 38px 0 69px 0;
}
/* -----frq----- */
.questionandanswer {
    max-width: 907px;
    margin: 0 auto;
    text-align: center;
}
.questionandanswer li {
    border: 1px solid #E5E5E5;
    font-size: 14px;
    padding: 16px 30px;
    line-height: 1.85714;
}
.questionandanswer li:nth-child(even) {
    background-color: #F2F2F2;
    text-align: left;
}
/* ----blog---- */
#blog {
    margin-top: 86px;
    background-color: #EEFBFB;
    height: 668px;
    padding: 0 70px 91px;
}
#blog ul {
    max-width: 1227px;
    margin: 0 auto;
}
#blog ul li {
    width: 31%;
    background-color: #fff;
    position: relative;
    box-shadow: 0 3px 6px rgb(0 0 0/16%);
}
#blog li img {
    width: 100%;
}
#blog li p {
    line-height: 1.44444;
    font-size: 18px;
    height: 127px;
    padding: 0 15px;
}
#blog li time {
    position: absolute;
    bottom: 0;
    right: 0;
    margin:0 38px 11px 0;
    line-height: 1.625;
}
/* ---works----- */
#works {
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 90px;
}
#works .swiper-slide {
    width: 30%;
    height: 400px;
    margin: 0 10px;
    border: 1px solid #ddd;
}
#works li > p {
    margin: 12px 52px 35px 18px;
    overflow: hidden;
}
.works-detail {
    margin:0 0 42px 18px;
}
.works-detail p {
    margin: 0;
}
.swiper-container {
    max-width: 50%;
    overflow: visible;
    margin: 0 auto;
}
/* ---ask----- */
#ask {
    background: linear-gradient(to right,#05A5FA,#63FBD7);
    padding-bottom: 70px;
}
#ask h2 {
    margin: 12px 0 40px 0;
}
#ask > h1, #ask > h2 , #ask > p {
    color: #fff;
}
#ask .block >h1 ,#ask .block >h2 {
    color: #fff;
}
#ask p {
    text-align: center;
    margin-bottom: 48px;
    color: #fff;
}
.form-detail {
    max-width: 908px;
    background-color: #fff;
    margin: 0 auto;
}
.required::after {
    content: "必須";
    color: #fff;
    background-color: #0C449B;
    font-size: 14px;
    border-radius: 10px;
    padding: 3px 16px;
    margin-left: 23px;
}
.form-input {
    padding: 0 63px 30px 63px;
}
#name {
    padding-top: 36px;
}
.form-input h1 {
    margin: 0 0 40px 0;
}
.form-input input {
    width: 100%;
    height: 43px;
    border-radius: 3px;
    background-color: #EEFBFB;
    font-size: 140%;
    border: none;
    /* padding: 10px; */
}
.form-input textarea {
    width: 100%;
    height: 179px;
    border-radius: 3px;
    background-color: #EEFBFB;
    font-size: 200%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
}
.checkbox {
    text-align: center;
}
.checkbox input {
    width: 20px;
    height: 20px;
    border: 1px solid #707070;
    margin-right: 10px;
    vertical-align: middle;
}
.submit {
    padding: 31px 0 35px 0;
}
.submit .button{
    width: 155px;
    height: 33px;
    display: block;
    margin: 0 auto;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right,#FA41CC,#6020B0);
}
/* ----footer---- */
footer {
    text-align: center;
}
footer > h1 {
    margin-top: 45px;
}
footer .wrapper {
    width: 360px;
    margin: 0 auto;
    padding:24px 0 54px 0;
}
footer .wrapper p {
    margin: 0;
}
.copy {
    margin-bottom: 50px;
}
@media (max-width:1020px){
    section .block > h1 {
        font-size: 23px;
        padding: 20px 0 0 0;
    }
    section .block >h2 ,#ask h2{
        font-size: 12px;
        margin: 10px 0 20px 0;
    }
    #header .contact {
        display: none;
    }
    .nav li a {
        display: block;
    }
    .nav {
        position: fixed;
        z-index: 20;
        opacity: 0;
        top: 0;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
        font-size: 2rem;
        right: 0;
        /* height: 100vh; */
        width: 100%;
        padding: 120px 0 0;
        background-color: #fff;
        transform: translateX(100%);
        transition: transform .3s, opacity .3s;
    
    }
    .open .nav {
        opacity: 1;
        /* padding: 50px 40px; */
        transform: translateX(0);
        transition: transform .3s ,opacity .3s;
    }
    .nav li {
        padding: 20px 0;
        margin: 0 auto;
    }
    .nav li a {
          color: #000;
    }
    .toggle {
        display: block;
        width: 40px;
        height: 40px;
        right: 5px;
        position: absolute;
        transition: all .5s;
        cursor: pointer;
        z-index: 20;
        color: #000;
        margin-top: 20px;
    }
    .toggle span {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        border-radius: 4px;
        transition: all .5s;
        z-index: 20;
    }
    .open .toggle {
        position: fixed;
    }
    .toggle span:nth-child(1) {
          top: 0;
    }
    .toggle span:nth-child(2) {
        top: 10px;
    }
    .toggle span:nth-child(3) {
        top: 20px;
    }
    .open .toggle span:nth-child(1) {
        -webkit-transform: translateY(4px) rotate(-45deg);
        transform: translateY(4px) rotate(-45deg);
    }
    .open .toggle span:nth-child(2) {
        -webkit-transform: translateY(-4px) rotate(45deg);
        transform: translateY(-5px) rotate(45deg);
    }
    .open .toggle span:nth-child(3) {
        -webkit-transform: translateY(-4px) rotate(45deg);
        transform: translateY(-4px) rotate(45deg);
        display: none;
    }
    .open #mask {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        /* opacity: .8; */
        z-index: 2;
        cursor: pointer;
    }
    /* -----main----- */
    #main-top .wrapper {
        flex-direction: column-reverse;
        width: initial;
    }
    .main-left {
        margin: 0 30px 80px ;
    }
    .main-text p {
        margin: 0 auto;
        padding: 20px 0 ;
        width: initial;
    }
    .contact {
        text-align: center;
    }
    /* ---feature----- */
    .feature-text h1 {
        font-size: 16px;
        line-height: 1.5;
    }
    .feature-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .feature-img {
        width: 100%;
        margin: 30px 0 20px 0;
    }
    .feature-text-contents {
        width: 100%;
    }
    .feature-text-contents h1 {
        margin: 0 0 35px 0;
        text-align: center;
        margin-top: 0;
    }
    .feature-text-contents p{
        width: 100%;
        font-size: 13px;
    }
    .feature-wrapper-reverse {
        flex-direction: column;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .feature-wrapper-reverse > .feature-text-contents h1 {
        margin-top: 0;
    }
    /* -----price---- */
    #price {
        margin-top: 80px;
        height: initial;
    }
    .table {
        padding: 0 30px;
        box-sizing: border-box;

    }
    table {
        width: 100%;
        height: 100%;
    }
    #price th {
        width: 65%;
        padding: 5px;
        font-size: 10px;
    }
    #price td {
        width: 35%;
        padding: 5px;
        font-size: 10px;
    }
    #price p {
        font-size: 8px;
        padding: 15px 0 50px 0;
    }
    /* ----blog----- */
    #blog {
        height: 100%;
        padding: 0 30px 50px;
    }
    #blog .wrapper {
        flex-direction: column;
    }
    #blog ul li {
        width: 100%;
        margin-bottom: 20px;
    }
    #blog li p {
        font-size: 12px;
        height: 100px;
    }
    #blog li time {
        margin: 0 10px 5px 0;
    }
    /* -----works---- */
    #works {
        margin-bottom: 50px;
    }
    .swiper-container {
        max-width: 100%;
        margin: 0 -60px;
    }
    /* ----ask----- */
    #ask {
        padding: 0 30px 50px;
    }
    #ask p {
        margin-bottom: 30px;
    }
    #name {
        padding-top: 20px;
    }
    .form-detail {
        padding: 0 20px;
        max-width: 100%;
    }
    .form-input {
        padding: 0;
        margin-bottom: 25px;
    }
    .form-input input {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    .form-input h1 {
        margin: 0 0 10px 0;
        font-size: 10px;
    }
    .required::after {
        font-size: 10px;
        padding: 0 10px;
        margin-left: 15px;
    }
    /* ----footer---- */
    footer h1 {
        margin: 30px 0 0 0;
    }
    footer .wrapper {
        width: 100%;
        padding: 20px 30px;
        box-sizing: border-box;
    }
    .copy {
        margin: 20px 0 10px 0;
    }
}
