@charset "utf-8";
html {
  font-size: 100%;
  font-family: 'Noto Serif JP', serif;
}
body {
  width: 100%;
  margin: 0 auto;
}
main {
  background-color: #e6e2d7;
  padding-top: 180px;
}
a {
  text-decoration: none;
}
section {
  margin-bottom: 180px;
  margin: 0 auto;
  padding-bottom: 200px;
}
#news,#products1,#products2 {
  max-width: 1024px;
  flex-direction: row-reverse;
  display: flex;
}
.letter {
  writing-mode: vertical-rl;
  padding: 0 10px;
}
.wrapper {
  display: flex;
  align-items: center;
}
img  {
  max-width: 100%;
}
/* ---header---- */
.nav {
  width: 100%;
  position: absolute;
  padding: 60px 80px;
}
.nav h1 {
  font-size: 3.225rem;
  margin-right: 0;
  margin-left: 60px;
}
.nav p {
  font-size: 1.225rem;
  margin: 0 20px;
}
.nav a {
  color: white;
}
.main-bg {
  width: 100%;
  min-height: 100vh;
  background-image: url(../image/mainvisual-pc.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  box-sizing: inherit;
}
.btn {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: inline-block;
  position: absolute;
  left: 40px;
  bottom: 30px;
  padding: 8px;
  background-color: blanchedalmond;
}
.btn a {
  border: solid 1px black;
  padding: 30px 18px;
  display: block;
}
.btn a:hover {
  opacity: .7;
}
/* ----news----- */
#news {
  width: 100%;
}
#news p{
  margin-left: 0;
  font-size: .825rem;
}
#news h1 {
  margin: 0;
  font-size: 2.225rem;
}
#news dl {
  padding: 80px 100px 0 0;
  margin: 0;
}
#news dt {
  padding: 15px 15px 15px 5px;
  border-right: solid 1px black;
}
#news dd {
  margin: 0;
  padding: 15px 0 15px 15px;
}
#news dt,#news dd {
  font-size: .85rem;
  line-height: 30px;
}

/* ------products1------ */

#products1 .wrapper h1,#products2 .wrapper h1{
  font-size: 2.225rem;
  padding-bottom: 20px;
}
#products1 .wrapper p,#products2 .wrapper  {
  font-size: .825rem;
}
#products1 .p-img, #products2 .p-img {
  width: 65%;
  position: relative;
  margin-top: 100px;
  
}
#products1 .p-img p{
  position: absolute;
  padding: 50px;
  bottom: -30px;
  left: -20px;
  background-color: rgba(249, 233, 6, .6);
  color: white;
}
/* ------products2----- */
#products2 {
  flex-direction: initial;
}
#products2 .p-img p {
  position: absolute;
  padding: 50px;
  bottom: -30px;
  right: -20px;
  opacity: .5;
  background-color: rgba(85, 0,0, .5);
  color: white;
}
/* -----shop----- */
.map iframe{
  width: 100%;
}
/* ----footer---- */
footer {
  margin: 0;
  padding: 80px 80px 30px 30px;
  background-color: black;
  margin: 0 auto;
}
footer .wrapper{
  justify-content: space-between;
  align-items: initial;
  margin: 0 auto;
}
.online, .shop-detail {
  writing-mode: vertical-rl;
  color: white;
}
.online a , .shop-detail a {
  color: white;
}
.shop-detail h1  {
  margin-left: 50px;
  font-size: 3.225rem;
}
.info {
  margin: 0 50px;
}
.menu p{
  margin: 0 20px;
}
.copyright {
  color: white ;
}
.copyright p {
  text-align: center;
}
@media (max-width: 768px) {
  main {
    padding-top: 60px;
  }
  section {
   padding-bottom: 60px; 
  }
  /* ----header---- */
  .main-bg{
    background-image: url(../image/mainvisual-sp.jpg);
  }
  .nav {
    padding: 20px 10px;
  } 
  .btn {
    left: 20px;
  }
  /* -----news---- */
  .main {
    padding-top: 30px;
  }
  #news h1 {
    font-size: 1.75rem;
  }
  #news dl {
    padding: 30px 20px 0 0;
  }
  #news dt, #news dd {
    line-height: 10px;
  }
  #news dl :nth-of-type(n + 4) {
    display: none;
  }
  #news dl :nth-child(6) {
    border-left: solid 1px black;
  }
  /* ----products---- */
  #products1 .wrapper h1, #products2 .wrapper h1 {
    font-size: 1.75rem;
  }
  #products1 .p-img, #products2 .p-img {
    width: 80%;
  }
  #products1 .p-img p {
    padding: 30px 20px;
  }
  #products2 .p-img p {
    padding: 30px 20px;
  }
  #products1 .wrapper h1, #products1.wrapper p {
    margin: 0;
  }
  #products2 .wrapper h1, #products2.wrapper p {
    margin: 0;
  }
  /* -----footer--- */
  footer {
    padding: 30px 0 20px 15px;
  }
  .shop-detail {
    width: 100%;
  }
  .shop-detail h1 {
    margin-left: 0;
  }
  .info {
    margin: 0;
    padding-left: 10px;
  }
  .info p {
    margin: 0;
  }
  .menu p {
    margin: 10px;
  }
}