@charset "utf8";
html {
  font-size: 100%;
}
body {
  margin: 0;
}
section {
  text-align: center;
}
img {
  max-width: 100%;
}
.wrapper , .footer-contents{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
} 
.btn {
  text-decoration: none;
  margin-top: 40px;
}
h1 {
  font-size: 1.272rem;
}
p {
  font-size: .712rem;
}
li {
  font-size: .712rem;
}
a {
  text-decoration: none;
  color: black;
}
.btn:hover ,a:hover {
  opacity: .8;
}
/* ------header------ */
.big-bg {
  background-image: url(../image/mainvisual.jpg);
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 80px;
}
.logo {
  position: absolute;
  right: 30px;
  top: 30px;
}
/* ------magazine---- */
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#magazine .flex .item {
  position: relative;
  width: 49%;
}
#magazine .flex .item .text {
  position: absolute;
  max-width: 290px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  margin: 0 auto;
  top: 40%;
  left: 0;
  right: 0;
}
/* -----fashion----- */
#fashion {
  background-image: url(../image/fashion.jpg);
  background-size: cover;
  background-position:center top ;
  background-repeat: no-repeat;
  height: 520px;
  margin: 80px 0;
  position: relative;
}
#fashion .wrapper {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
}
#fashion a , #catalog-antique a{
  border: solid 1px;
  padding: 10px 30px;
}
/* ------catalog-antique----- */
#catalog-antique ul {
  padding: 0;
}
#catalog-antique li {
  justify-content: space-between;
  margin-bottom: 50px;
}
#catalog-antique ul li{
  display: flex;
  align-items: center;
}
#catalog-antique ul li .img ,#catalog-antique ul li .txt  {
  max-width: 48%;
  box-sizing: border-box;
  justify-content: space-between;
}
#catalog-antique ul li:nth-child(even) {
  flex-direction: row-reverse;
}
.box {
  max-width: 48%;
  margin: 0 auto;
}
/* -----footer----- */
.footer-contents {
  background: #333;
}
.footer-logo {
  margin: auto 0;
}
.footer-contents  {
  display: flex;
  justify-content: space-between;
} 
.footer-logo, .footer-text1, .footer-text2{
  width: 33%;
  line-height: 2;
  color: white;
}
ul {
  padding: 0;
}
li {
  list-style: inside;
}
.copy {
  text-align: center;
  padding: 30px 0;
}
@media (max-width: 896px){
  h1  {
    font-size: 1.525rem;
  }
  p {
    font-size: 1.058rem;
  }
/* -----magazine---- */
  .flex {
  flex-direction: column;
}
#magazine .flex .item {
    width: 100%;
 }
 .item {
   margin-bottom: 50px;
 }
 /* -------catalog---- */
 #catalog-antique ul li {
   flex-direction: column;
 }
 #catalog-antique ul li:nth-child(even) {
   flex-direction: column-reverse;
 }
 #catalog-antique ul li .img, #catalog-antique ul li .txt {
   max-width: 100%;
 }
 .box {
   max-width: 100%;
 }
 .btn {
   margin: 50px 0;
 }
 /* -----footer---- */
 .footer-contents {
   padding: 30px 5%;
   flex-direction: column;

 }
 .footer-logo {
   margin: 0 auto;
 }
 .footer-text1, .footer-text2 {
   width: 100%;
 }
}