@charset "utf-8";

html{
  font-size: 100%; 
}
body {
  margin: 0;
}
.big-bg {
  position: relative;
  width: 100%;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  min-height: 620px;
  background-size:  cover;
  color: #fff;
}
.title {
  margin:0 0 0 80px;
  position: fixed;
}
.site-header{
  background: rgba(0,255,0,0.1);
  display: flex;
  padding: 60px 40px;
  position: fixed;
  justify-content: space-between;
  transition: .5s;
  width: 100%;
}
.site-header.transform{
  background: rgba(255,0,0,0);
  padding: 20px;
}
.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  padding: 35px 80px 0 0;
  /* background-color: #999; */
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color:#eddcbc;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
#menu-btn-check {
  display: none;
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #999;
  text-align: center;
  line-height: 100px;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  /* background-color: #3584bb; */
  transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}
.title-top {
  text-align: center;
  padding-top: 200px;

}
.title-top  >h1 {
  font-size: 100px;
  font-weight: normal;
  margin-bottom: 0;
}
.title-top> p {
  font-size: 16px;
  margin: 0;
}
/* ------concept----- */
.concept {
  text-align: center;
  background: linear-gradient(#fff 70%, #ededed 30%);
  padding: 70px 0;
}
  

.concept h1 {
  /* position: relative; */
  font-size: 36px;
  margin-bottom: 32px ;
}



.concept > p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.concept > img {
 max-width: 100%;
}

/* ------work-------- */
.work {
  margin: 0 auto;
  max-width: 960px;
  
}
.title-work {
  text-align: center;
}
.title-work >h1 {
  font-size: 40px;
}



.title-work > p {
  margin-top: 60px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
}

.work-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1680px;
  align-content: space-between;
  padding: 0;
  width: auto;
}


.gift {
  width: 420px;
  line-height: 1.8;
  padding-bottom: 80px;
}
  
.wedding {
  width: 420px;
  line-height: 1.8;
  padding-bottom: 80px;
}

.decoration {
  width: 420px;
  line-height: 1.8;
  padding-bottom: 80px;
  margin-top:100px;
}

.for-yourself { 
  width: 420px;
  line-height: 1.8;
  padding-bottom: 80px;
 }

 /* ---------florist-------- */

 .florist{
   margin: 0 auto;
   max-width: 960px;
   background: linear-gradient(#ededed 60%, #fff 40%);
 }

 .florist > h1 {
   text-align: center;
   font-size: 40px;
   /* position: relative; */
   padding-top: 50px;
   margin-bottom: 0px;
 } 
 

.florist > p {
  text-align: center;
  margin-top: 50px;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
}

.florist-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.florist img {
  max-width: 240px;
}

.florist ul p {
  max-width: 240px;
}


/* ---------shop information----- */
.info {
   text-align: center;
   padding-top: 80px;
   padding-bottom: 120px;
 }

 .info h1 {
   font-size: 40px;
   /* position: relative; */
 }



 .info p {
  margin-top: 40px;
  font-size: 15px;
  letter-spacing: 1px;
}
.info-contents {
  display: flex;
  justify-content: center;
}

.info-contents > img{
  width: 480px;
  height: 320px;
}

.info-detail {
  text-align: center;
}

table {
  margin-left: 20px;
  border-spacing: 15px;
}
tr {
 line-height: 30px;
}

td {
  border-left: 1px solid black;
}

/* ------contact----- */
.bg-contact{
  background-image: url(../images/contact_us.png);
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  min-height: 450px;
  background-size:  cover;
}
.contact-contents {
  font-size: 20px;
  text-align: center;
  padding:80px 0  80px 0;
}
.contact-contents p {
  font-size: 15px;
  padding-top: 10px;
}

.btn {
  display: inline-block;
  width: 360px;
  height: 80px;
  line-height: 80px;
  letter-spacing: 2px;
  border: 1px solid #a0a0a0;
  background: #fff;
  font-size: 20px;
  cursor: pointer;
}


.button {
  width: 360px;
  height: 80px;
}


/* -----footer------ */
footer {
  text-align: center;
  margin: 0;
}

footer p {
  font-size: 16px;
  margin: 0;
}

@media (max-width: 600px) {
  html {
    width: 100vh;
    height: auto;
  }
  .big-bg {
    min-height: 800px;
  }
 
  .title{
    font-size: 40px;
    margin:0;
    top: 30px;
  } 
  .menu-btn {
    top: 1px;
  }

  .title-top  >h1 {
    font-size: 150px;
    font-weight: normal;
    margin-bottom: 0;
  }
  .title-top> p {
    font-size: 30px;
    margin: 0;
  }
  .concept >h1 {
    font-size: 70px;
  }
  .concept > p {
    font-size: 25px;
    letter-spacing: 10px;
  }
  .concept br{
    display: none;
  }
/* ------work------ */
  .title-work >h1 {
    font-size: 70px;
  }
  .title-work > p {
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  .work-ul{
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 750px;
    margin: 0px;
}
.work-ul li {
  padding-right: 20px;
}
.work-ul li h1 {
  font-size: 40px;
}
.work-ul li p {
  font-size: 20px;
  letter-spacing: 10px;
}
.wedding > img {
  height: 420px;
  width: 420px;
}
.decoration {
  margin: 0;
}
.decoration > img {
  height: 420px;
  width: 420px;
}
  /* -----florist----- */
  .florist-ul {
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px;
    height: 960px;
    width: 700px;
    padding-left: 50px;
  }

  .florist-ul img {
    max-width: 600px;
    height: 500px;
  }
  .florist >h1 {
    font-size: 70px;
  }
  .florist > p {
    font-size: 25px;
    letter-spacing: 10px;
  }
  .florist-ul li {
    margin-right: 50px;
  }
  .florist-ul li > h1 {
    font-size: 50px;
  }
  .florist-ul li > p {
    font-size: 30px;
    max-width: none;
  }

/* -------information------ */
  .info >h1 {
    font-size: 70px;
  }
  .info > p {
    font-size: 25px;
    letter-spacing: 10px;
  }
  .info-contents{
    display: block;
  }
  .info-contents img {
    width: 100%;
    height: 100%;
  }
  .info-detail{
    font-size: 30px;
    border-spacing: 50px;
    margin: 0;
  }
  .info-detail th {
    font-weight: normal;
  }
  .info-detail td {
    line-height: 60px;
    padding-left: 50px;
  }

  /* -----contact us--------- */
  .contact-contents{
    padding-bottom: 100px;
  }
  .contact-contents>h1 {
    font-size: 70px;
  }
  .contact-contents> p {
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 40px;
  }
  /* ------footer------ */
  footer p {
  font-size: 40px;
  margin-top: 50px;
  letter-spacing: 1.4px;
  } 
}