@charset "utf-8";
html {
  font-size: 100%;
  background-color: #EEFFFF;
  margin: 0 10px 0 10px;
}
img {
  max-width: 100%;
}
body {
  margin: 0;
}
.logo {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 0 10px 0;
}
.logo img{
  width: 160px;
  height: 20px;
}
.main-visual {
  max-width: 1000px;
  height: 400px;
  margin: 0 auto;
  padding-bottom: 60px;
}
/* ------index----- */
.index {
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
}
.index-contents {
  max-width: 520px;
  margin: 0 auto;
  background-color: #fff;
  font-size: 10px;
  counter-reset: number 0;
  padding: 10px 0 ;
}
.index-contents h1 {
  font-size: 15px;
}

p {
  line-height: 30px;
  text-align: left;
}
.index p::before {
  counter-increment: number 1;
  content: counter(number);
}
/* -----detail----- */
.detail {
  max-width: 520px;
  margin: 0 auto;
  padding-top: 30px;
}
.detail h1 {
  font-size: 15px;
}
.detail-contents {
  display: flex;
}
.detail-image >img{
  width: 250px;
  margin-right: 50px;
}
.detail-table {
  width: 300px;
}
.detail-table h1 {
  font-size: 15px;
}
table {
  border-top: 1px solid #ddd ;
  border-bottom: 1px solid #ddd;
  padding: 20px 0 ;
  width: 300px;
}

 tr td {
  padding-right:  10px;
  font-size: 11px;
}
table > p a {
  font-size: 11px;
}
/* ------footer----- */
footer {
  max-width: 520px;
  margin: 0 auto;
  padding-top: 70px;
}
footer p {
  margin: 0;
}
@media (max-width: 1024px) {
  .main-visual {
    height: initial;
  }
  .index , .img {
    width: 100%;
  }
  .index-contents , .detail , footer{
    padding:0 40px ;
  }
  .detail {
    margin-top: 40px;
  }
  .detail-image > img {
    width: initial;
    margin-right: initial;
    max-width: 520px;
  }
  .detail-contents {
    display: initial;
  }
  table  {
    width: 520px;
  }
  .detail-table{
    margin: 20px 0 100px 0 ;
  }
  .detail-table > h1 {
    margin-bottom: 20px;
  }
} 
