body {
  margin: 0;
  a,
  li,
  h1,
  h2,
  p {
    color: #1b224c;
    font-family: YuGothic;
  }
  a,
  li {
    text-decoration: none;
    list-style: none;
  }
  img {
    // width: 100%;
  }
  .benefit-content {
    padding: 0 50px;
  }
  ul {
    padding: 0;
  }
}
// ---header---
#header {
}
.header-wrapper {
  display: flex;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  justify-content: space-between;
  height: 80px;
  background-color: #fff;
  .header-left-side {
    display: flex;
    align-items: center;
    margin: 12px 5px 0 15px;

    #nav {
      display: flex;
      margin-left: 28px;
      li {
        // max-width: 100px;
        margin-right: 38px;
        font-size: 1.3333rem;
      }
      a {
        display: inline-block;
      }
    }
  }
  .header-right-side {
    display: flex;
    align-items: center;
    margin: 15px 10px 15px 50px;

    .time p {
      margin: 0;
      text-align: right;
    }
    .open-time {
      width: 150px;
      .phone-number {
        display: flex;
        justify-content: flex-end;
        p {
          margin: 0;
          font-size: 1.3333rem;
          font-weight: bold;
          margin-left: 5px;
        }
        img {
          width: 10px;
          height: 15px;
        }
      }
    }
    .claim {
      button {
        background-color: #f5a623;
        border-radius: 5px;
        margin: 0 10px 0 24px;
        border: none;
        a {
          color: #fff;
          display: inline-block;
          padding: 15px 43px;
        }
      }
    }
    .contact {
      button {
        background-color: #1b224c;
        border-radius: 5px;
        padding: 0;
        ul {
          margin: 0;
        }
        a {
          color: #fff;
          display: inline-block;
          padding: 15px 40px;
        }
      }
    }
  }
}
.toggle,
#mask {
  display: none;
}
main {
  margin-top: 80px;
}
/* -----fv---- */
#fv {
  background-image: url(../img/fv.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 476px;

  .site-heading {
    text-align: center;
    h1 {
      color: #fff;
      font-size: 4rem;
      margin: 0;
      padding: 106px 0 19px;
    }
    span {
      color: #fff;
    }
  }
  .heading-claim {
    text-align: center;
    button {
      background-color: #f5a623;
      border-radius: 50px;
      width: 260px;
      height: 60px;
      color: #fff;
      border: none;
      margin: 55px 0 19px 0;
    }
  }
  .heading-contact {
    text-align: center;
    a {
      color: #fff;
      font-size: 1.333333rem;
      border-bottom: 1px solid #fff;
    }
  }
}
// ---about----
#about {
  font-family: YuGothic;
  background-color: #1b224c;
  padding-bottom: 54px;
  .about-title {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 63px;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: #fff;
      text-align: center;
      margin-bottom: 50px;
    }
  }
  .about-wrapper {
    display: flex;
    text-align: center;
    height: 63px;
    margin: 0 auto;
    padding: 0;
    li {
      color: #fff;
      font-size: 1.5rem;
      list-style: none;
      margin-left: 78px;
    }
    li:first-child {
      margin-left: 130px;
    }
  }
  .about-color {
    background-color: #fff;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 63px;
    padding: 12px 16px;

    .about-bottom {
      border: 5px solid #1b224c;
    }
    .about-bottom-title {
      text-align: center;
      margin: 0 auto;

      h1 {
        display: inline-block;
        border-bottom: 9px solid #f5a623;
        padding-top: 5px;
      }
    }
    .about-bottom-sentence {
      text-align: center;
      margin: 0 auto;

      p {
        /* text-align: center; */
        color: #1b224c;
        font-size: 1.5rem;
      }
    }
  }
}
// ---benefit---
#benefit {
  > h1 {
    text-align: center;
    color: #1b224c;
    font-size: 3rem;
    margin: 60px auto;
  }
  .benefit-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 60px;

    .benefit-text {
      // max-width: 500px;
      width: 55%;
      margin-right: 50px;
      h1 {
        font-size: 2.1666rem;
        font-weight: bold;
        color: #1b224c;
        line-height: 1.5;
        margin: 35px 0 39px 0;
      }

      p {
        font-size: 1.33333rem;
        color: #1b224c;
        line-height: 1.3;
        margin: 0;
      }
    }
    .benefit-text-middle {
      width: 55%;
      margin-left: 50px;

      h1 {
        font-size: 2.1666rem;
        font-weight: bold;
        color: #1b224c;
        line-height: 1.5;
        margin: 35px 0 39px 0;
      }

      p {
        font-size: 1.33333rem;
        color: #1b224c;
        line-height: 1.3;
        margin: 0;
      }
    }
    .benefit-color {
      width: 90px;
      height: 30px;
      background-color: #f5a623;
      text-align: center;

      p {
        margin: 0;
        font-size: 1rem;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
        padding-top: 6px;
      }
    }
    .benefit-img {
      // width: 350px;
      height: 240px;
      width: 50%;
    }
  }
  .benefit-wrapper:nth-child(2) {
    flex-direction: row-reverse;
  }
  .benefit-wrapper:last-child {
    margin-bottom: 93px;
  }
  .fee {
    font-family: YuGothic;
    text-align: center;
    background-image: url(../img/price.jpg);
    max-width: 906px;
    height: 217px;
    margin: 0 auto 39px;
    background-repeat: no-repeat;
    background-position: top center;

    h1 {
      font-size: 2.1666rem;
      color: #fff;
      font-weight: bold;
      padding: 61px 0 23px;
      margin: 0;
      text-align: center;
    }
  }
  .fee-button {
    text-align: center;

    button {
      width: 200px;
      height: 50px;
      border-radius: 30px;
      color: #fff;
      border: 1px solid #fff;
      background-color: rgba(255, 255, 255, -1);
    }
  }
}
/* -----successful---- */
#successful {
  background-color: #1b224c;
  padding-bottom: 60px;

  h1 {
    color: #fff;
    text-align: center;
    padding-top: 58px;
    margin: 0;
  }
  .successful-ex {
    display: flex;
    justify-content: space-between;
    max-width: 906px;
    margin: 0 auto;
    padding: 0;
    li {
      width: 31%;
      padding: 0 10px;
      h1 {
        font-size: 1.3333rem;
        text-align: left;
        margin-bottom: 9px;
      }
    }
    .successful-img {
      width: 280px;
      height: 171px;
      background-color: #fff;
      position: relative;

      img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 125px;
        height: 140px;
      }
    }
    .successful-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
    .occupation {
      width: 100px;
      height: 32px;
      padding: 5px 0 0 10px;
      background-color: #fff;
      margin: 0;
      box-sizing: border-box;
      font-size: 1.3333rem;
    }
    .name {
      width: 172px;
      height: 32px;
      background-color: #fff;
      margin: 0;
      padding: 5px 0 0 14px;
      box-sizing: border-box;
      font-size: 1.3333rem;
    }
    .goal {
      background-color: #fff;
      width: 280px;
      height: 32px;
      padding: 5px 0 0 14px;
      box-sizing: border-box;
      font-size: 1.3333rem;
    }
  }
}
// -----use----
#use {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.3333rem;
  h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 53px;
  }
  li {
    display: flex;
    max-width: 900px;
    height: 64px;
    margin-bottom: 8px;
    background-color: #f8f8f8;
  }
  .use-left {
    display: flex;
    align-items: center;
    p {
      display: flex;
      align-items: center;
    }
  }
  .use-number {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    background-color: #f5a623;
    justify-content: center;
    color: #fff;
  }
  .use-ask {
    width: 200px;
    height: 64px;
    padding: 25px 21px 21px;
    box-sizing: border-box;
    background-color: #f8f8f8;
  }
  .use-border {
    // font-size: 4rem;
    border: 0.5px solid #c3c3c3;
    align-items: center;
    padding: 16px 0;
    margin-top: 16px;
    height: 0;
  }
  .use-right {
    display: flex;
    align-items: center;
    p {
      padding: 25px 54px 23px;
    }
  }
}

// ----question---
#question {
  max-width: 900px;
  margin: 75px auto 90px;
  ul {
    padding: 0 20px;
  }
  .ac-parent {
    position: relative;
  }
  .ac-child {
    display: none;
  }
  span {
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #1b224c;
    border-radius: 4px;
    transition: all 0.5s;
    z-index: 50;
  }
  li span:nth-child(1) {
    content: "";
    position: absolute;
    top: 50%;
    right: 35px;
    background-color: #1b224c;
  }
  li span:nth-child(2) {
    content: "";
    position: absolute;
    top: 50%;
    right: 35px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    background-color: #1b224c;
  }
  .open span:nth-child(2) {
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  li {
    border-top: 1px solid #1b224c;
    p {
      display: inline-block;
      padding: 23px 70px 20px 0;
      margin: 0;
      font-size: 1.333rem;
    }
  }
  li:last-child {
    border-bottom: 1px solid #1b224c;
  }
  .ac-child {
    p {
      background-color: #f8f8f8;
    }
  }
}
// -----blognnews----
#blognnews {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}
.blog {
  width: 48%;
  h1 {
    font-size: 2.666rem;
    margin: 0 0 30px 0;
  }
  ul {
    margin: 0;
    li {
      margin-bottom: 30px;
    }
  }
}
.blog-wrapper {
  display: flex;
}
.blog-img {
  width: 150px;
  position: relative;
  img {
    width: 150px !important;
    height: 110px !important;
  }
  p {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 6px 18px;
    background-color: #1b224c;
    // color: #fff;
    font-size: 1rem;
    color: #fff;
    a {
      color: #fff;
    }
  }
}
.blog-content {
  margin-left: 20px;
  position: relative;
  a {
    font-size: 1.3333rem;
    border-bottom: 1px solid #1b224c;
  }
  p {
    position: absolute;
    bottom: 0;
    margin: 0;
  }
}
.news {
  width: 45%;
  h1 {
    font-size: 2.666rem;
    margin: 0 0 30px 0;
  }
  ul {
    margin: 0;
    li {
      margin: 14px 0 43px;
      a {
        border-bottom: 1px solid #1b224c;
      }
    }
  }
}

// ----footer-claim-----
#footer-claim {
  background-image: url(../img/cta.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;

  h1 {
    font-size: 2.6666rem;
    text-align: center;
    padding: 70px 0 16px;
    color: #f8f8f8;
    margin: 0;
  }
  .footer-claim {
    text-align: center;
    button {
      background-color: #f5a623;
      border-radius: 50px;
      width: 260px;
      height: 60px;
      color: #fff;
      border: none;
      // margin: 55px 0 19px 0;
    }
  }
  .footer-contact {
    text-align: center;
    padding: 19px 0 39px;
    a {
      color: #fff;
      font-size: 1.333333rem;
      border-bottom: 1px solid #f8f8f8;
    }
  }
}
#detail {
  max-width: 800px;
  margin: 0 auto;
  padding-right: 80px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    p {
      font-size: 1.333rem;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 10px;
    }
    .bottom-phonenumber {
      font-size: 3rem;
      font-weight: bold;
      margin: 0;
      padding: 0 10px 0 0;
    }
  }
}
// -----footer-inner----
.footer-color {
  background-color: #1b224c;
}
.footer-inner {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 35px;
  // .footer-left {
    // display: flex;
    // align-items: center;
    // margin: 12px 5px 0 15px;
    // }
    #nav {
      display: flex;
      padding-left: 14px;
      li {
        // max-width: 100px;
        padding-right: 19px;
        border-right: solid 1px #fff;
        margin-right: 19px;
        font-size: 1.3333rem;
        a,span {
          // display: inline-block;
          color: #fff;
        }
      }
      li:last-child {
        border-right: none;
      }
    }
  
  .footer-right {
    width: 160px;
    img {
      background-color: #fff;
      padding: 14px 12px;
      box-sizing: border-box;
    }
    p {
      color: #fff;
      margin: 0;
      font-size: 1.3333rem;
      padding-left: 7px;
    }
    .open-time {
      text-align: right;
      margin-top: 22px;
    }
    .phone-number {
      display: flex;
      justify-content: right;
      img {
        background-color: #1b224c;
        width: 10px;
        height: 14px;
        padding: 0;
        margin-top: 3px;
      }
    }
    .time {
      padding: 9px 0 67px;
    }
  }
}
.copyright {
  max-width: 900px;
  margin: 0 auto;
  p {
    text-align: right;
  }
}
// ----tablet------
@media (max-width: 1160px) {
  .header-wrapper {
    justify-content: initial;
    .header-left-side {
      #nav {
        display: block;
      }
    }
  }
  #nav {
    position: fixed;
    z-index: 50;
    top: 0;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 2rem;
    right: 0;
    width: 25vw;
    height: 100vh;
    padding: 100px 10px 0;
    background-color: #1b224c;
    transform: translateX(100%);
    transition: transform 0.3s, opacity 0.3s;
    // transition: all 400ms;
    overflow: hidden;
    a {
      color: #fff;
    }
  }
  .open #nav {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.3s, opacity 0.3s;
  }
  #nav li {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    position: relative;
    z-index: 51;
  }
  .toggle {
    display: block;
    width: 40px;
    height: 40px;
    top: 30px;
    right: 15px;
    position: absolute;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 50;
    color: red;
    span {
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #1b224c;
      border-radius: 4px;
      transition: all 0.5s;
      z-index: 50;
    }
  }
  .open .toggle {
    position: fixed;
  }
  .toggle span:nth-child(1) {
    top: 0;
  }
  .toggle span:nth-child(2) {
    top: 10px;
  }
  .toggle span:nth-child(3) {
    top: 20px;
  }
  .open .toggle span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg);
    background-color: #fff;
  }
  .open .toggle span:nth-child(2) {
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-5px) rotate(45deg);
    background-color: #fff;
  }
  .open .toggle span:nth-child(3) {
    display: none;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 49;
    cursor: pointer;
  }
}
@media (max-width: 930px) {
  body {
    .benefit-content {
      padding: 20px;
    }
  }
  .header-wrapper {
    .header-right-side {
      display: none;
    }
  }
  #successful {
    .successful-ex {
      display: initial;

      .successful-img {
        width: 100%;
      }
      .successful-wrapper {
        justify-content: initial;
      }
      .name {
        width: 100%;
      }
      .goal {
        width: 100%;
      }
    }
    .successful-ex li {
      width: 100%;
      padding: 0;
    }
  }
  #detail {
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  .header-wrapper {
    .header-left-side {
      #nav {
        li {
          font-size: 1.1rem;
        }
      }
    }
  }
  #fv {
    .site-heading {
      h1 {
        font-size: 2rem;
      }
    }
    .heading-claim {
      button {
        width: 160px;
        margin: 30px 0 19px 0;
      }
    }
  }
  // ----about---
  #about {
    .about-title {
      padding-top: 5px;
      h1 {
        font-size: 1.7rem;
        margin-bottom: 25px;
        width: 240px;
        margin: 0 auto;
        margin-top: 20px;
      }
    }
    .about-wrapper {
      display: initial;
      li {
        font-size: 1rem;
        margin-left: 0;
        margin-top: 20px;
      }
      li:first-child {
        margin-left: 0;
      }
    }
    .about-color {
      .about-bottom-title {
        h1 {
          font-size: 1.7rem;
        }
      }
      .about-bottom-sentence {
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
  // ---benefit----
  #benefit {
    h1 {
      font-size: 1.6rem;
    }
    .benefit-wrapper {
      display: initial;
      .benefit-color {
        width: 60px;
        height: 25px;
      }
      .benefit-text {
        width: 100%;
        margin-right: 0;
        h1 {
          font-size: 1.5rem;
          margin: 20px 0;
        }
        p {
          font-size: 1rem;
          margin-bottom: 20px;
        }
      }
      .benefit-img {
        width: 100%;
        height: 100%;
        margin-bottom: 50px;
        img {
          width: 100%;
        }
      }
      .benefit-text-middle {
        width: 100%;
        margin-left: 0;
        h1 {
          font-size: 1.5rem;
          margin: 20px 0;
        }
        p {
          font-size: 1rem;
          margin-bottom: 20px;
        }
      }
    }
    .fee {
      padding: 30px 0;
      height: 100%;
      h1 {
        padding: 20px 0;
        font-size: 1.5rem;
      }
    }
    .fee-button {
      button {
        width: 160px;
        height: 35px;
      }
    }
  }
  // ---successful----
  #successful {
    padding-bottom: 50px;
    h1 {
      padding-top: 30px;
    }
    .successful-ex {
      li {
        h1 {
          font-size: 1.1rem;
          height: 25px;
        }
      }
      .occupation {
        font-size: 1rem;
        height: 25px;
      }
      .name {
        font-size: 1rem;
        height: 25px;
      }
      .goal {
        font-size: 1rem;
        height: 25px;
        margin-top: 5px;
      }
    }
  }
  // -----use----
  #use {
    ul {
      padding: 0 20px;
    }
    h1 {
      margin-top: 30px;
      font-size: 1.8rem;
    }
    li {
      display: block;
      height: 100%;
      background-color: #f8f8f8;
      margin-bottom: 20px;
    }
    .use-left {
      width: 100%;
      box-sizing: border-box;
      p {
        margin: 0;
      }
    }
    .use-ask {
      width: 100%;
    }
    .use-border {
      border: none;
    }
    .use-right {
      p {
        padding: 0 80px 30px;
        margin: 0;
      }
    }
  }
  #question {
    margin: 50px auto 50px;
  }
  .blog {
    width: 100%;
  }
  #blognnews {
    .wrapper {
      display: block;
      // padding: 0 20px;
      .news {
        padding-top: 20px;
      }
    }
  }
  #footer-claim {
    h1 {
      font-size: 1.8rem;
      padding: 30px 0 16px;
    }
    .footer-claim {
      button {
        width: 160px;
        height: 35px;
      }
    }
    .footer-contact {
      padding: 10px 0 30px;
    }
  }
  #detail {
    padding-right: 0;
    .wrapper {
      padding: 0 20px;
      width: 500px;
      margin: 0 auto;
      display: initial;
      text-align: center;
      p {
        font-size: 1rem;
        margin-top: 2px;
      }
      .bottom-phonenumber {
        font-size: 1.5rem;
      }
    }
  }
  .footer-inner {
    .footer-left {
      padding-left: 20px;
      ul {
        display: block;
        li {
          margin-bottom: 20px;
        }
        .border {
          display: none;
        }
      }
    }
    .footer-right {
      padding: 0 20px 0 0;
      p {
        font-size: 1rem;
      }
    }
  }
}

// --------------price-page-----------------
#fv-price {
  background-image: url(../img/plan.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 221px;
  // padding-top: 17.265625%;
  position: relative;
  p {
    position: absolute;
    color: #fff;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.66666rem;
  }
}
// ---bread------
#bread {
  background-color: #f8f8f8;
}
.breadcrumbs {
  max-width: 900px;
  display: flex;
  margin: 0 auto;
  padding: 17px 0;
  a {
    margin: 0;
    span {
      margin: 0 14px;
    }
  }
  .home {
    span {
      margin-left: 0;
    }
  }
  .current-item {
    margin: 0 14px;
  }
  a {
    text-decoration: underline;
  }
}
// -----price-----
#price {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
  h1 {
    font-size: 2.6666rem;
    text-align: center;
    margin: 58px 0 51px 0;
  }
  .price-wrapper {
    display: flex;
    justify-content: center;
    p {
      font-size: 1.833333rem;
    }
    .is-sp {
      display: none;
    }
    .entransfee {
      width: 50%;
      // padding: 30px 58px 30px 58px;
      margin: 0;
      background-color: #1b224c;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .price-cross {
      position: relative;
      width: 90px;
      height: 90px;
    }
    .price-cross::before {
      position: absolute;
      content: "";
      top: 47%;
      right: 36%;
      width: 27px;
      height: 2px;
      background-color: #1b224c;
    }
    .price-cross::after {
      position: absolute;
      content: "";
      top: 47%;
      right: 36%;
      width: 27px;
      height: 2px;
      background-color: #1b224c;
    }
    .price-cross::before {
      transform: rotate(90deg);
      -webkit-transform: (90deg);
    }
    .monthlyfee {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      background-color: #1b224c;
      color: #fff;
    }
  }
  .price-text {
    margin: 45px 0 90px 0;
    font-size: 1.33333rem;
  }
}
#chart {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto 60px auto;
  h1 {
    font-size: 2.6666rem;
    text-align: center;
  }
  .chart-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    li {
      width: 220px;
      text-align: center;
      margin-top: 64px;

      .chart-title {
        background-color: #1b224c;
        h2 {
          color: #fff;
          font-size: 1.3333rem;
          margin: 0;
          padding: 21px;
        }
      }
      .color {
        background-color: #f5a623;
        h2 {
          line-height: 2;
        }
      }
      .chart-content {
        height: 420px;
        border-left: 1px solid #1b224c;
        border-right: 1px solid #1b224c;
        border-bottom: 1px solid #1b224c;
        padding: 30px 0;
        p:nth-child(1) {
          margin: 0;
          font-size: 2.1rem;
          font-weight: bold;
        }
        p:nth-child(2) {
          margin: 0;
          font-size: 1.333rem;
          margin-bottom: 45px;
        }
        ul {
          li {
            margin: 0 auto;
            font-size: 1.3333rem;
            display: block;
            margin-bottom: 14px;
            position: relative;
          }
          li::before {
            font-family: "Font Awesome 5 Free";
            content: "\f00c";
            font-weight: 600;
            margin-right: 7px;
          }
        }
      }
    }
    li:nth-child(3) {
      margin-top: 24px;
      .chart-content {
        p:first-child {
          color: #f5a623;
        }
      }
    }
  }
}
@media (max-width: 930px) {
  #chart {
    .chart-wrapper {
      // overflow: hidden;
      overflow: scroll;
      // overflow-x: scroll;
      overflow-y: hidden;
      // -ms-overflow-style: none;
      // scrollbar-width: none;
      white-space: nowrap;
      li {
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
  // .chart-wrapper::-webkit-scrollbar {
  // display:none;
  // }
  .chart-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .chart-wrapper::-webkit-scrollbar-track {
    // background: #ffe6ea;
    box-shadow: 0 0 5px #c3c3c3 inset;
    border-radius: 5px;
    // background: #ff8095;
  }
  .chart-wrapper::-webkit-scrollbar-thumb {
    background: #1b224c;
    border-radius: 5px;
  }
  .breadcrumbs {
    padding: 10px 20px;
    a {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 767px) {
  #fv-price {
    height: 180px;
    p {
      font-size: 2rem;
    }
  }
  #bread {
    padding: 12px 0;
  }
  #price {
    h1 {
      font-size: 2rem;
      margin: 40px 0;
    }
    .price-wrapper {
      p {
        font-size: 1.5rem;
      }
      .is-sp {
        display: block;
      }
    }
    .price-text {
      margin: 38px 0 50px 0;
    }
  }
  #chart {
    h1 {
      font-size: 2rem;
      margin: 0;
    }
  }
}

// -----------------blog-page------

#fv-blog {
  background-image: url(../img/blog.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 0;
  height: 221px;
  // padding-top: 17.265625%;
  position: relative;
  p {
    position: absolute;
    color: #fff;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.66666rem;
  }
}
#blog {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 56px;
  padding: 0 20px;
  h1 {
    text-align: center;
    font-size: 2.66666rem;
  }
  img {
    width: 100%;
  }
  ul {
    margin: 57px 0 93px;
    li {
      // height: 150px;
    }
  }
  .blog-inner {
    display: flex;
    height: 150px;

    .blog-left {
      width: 240px;
      height: 150px;
      margin-right: 50px;
      position: relative;
      img {
        width: 240px !important;
        height: 150px !important;
      }
      p {
        // a {
        position: absolute;
        top: 0;
        margin: 0;
        padding: 3px 18px;
        background-color: #1b224c;
        color: #fff;
        font-size: 1rem;
        // }
      }
    }
    .blog-right {
      p {
        margin: 0;
        padding-bottom: 18px;
        time {
          font-size: 1.33333rem;
        }
      }
      a {
        font-size: 2.16666rem;
      }
      .blog-txt {
        font-size: 1.33333rem;
        margin: 0;
        padding: 20px 0 0 0;
      }
    }
  }
}
.pagination {
  text-align: center;
  margin-bottom: 45px;
  a,
  span {
    display: inline-block;
    border: 1px solid #1b224c;
    color: #1b224c;
    font-size: 1.33333rem;
    padding: 15px 20px;
    margin: 0 19px;
  }
  .current {
    color: #fff;
    background-color: #1b224c;
  }
}

@media (max-width: 767px) {
  #fv-blog {
    height: 180px;
    p {
      font-size: 2rem;
    }
  }
  #blog {
    padding: 0 40px;
    .blog-title {
      h1 {
        font-size: 2rem;
        margin: 0;
      }
    }
    .blog-inner {
      li {
        display: block;
      }
      .blog-left {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
// ------------blog-detail-page-------------
.breadcrumbs {
  // a {
  //   margin-right: 20px;
  // }
  .current-item {
    width: 350px;
  }
}
.blog-main {
  width: 590px;
  margin-right: 36px;
}
.blog-body-wrapper {
  display: flex;
  padding: 0 20px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 60px;
}
.blog-title-first {
  p {
    width: 110px;
    height: 31px;
    background-color: #1b224c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #fff;
    }
  }
  h1 {
    font-size: 2.33333rem;
  }
}
.blog-snsntime-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  .fb_iframe_widget > span {
    vertical-align: middle !important;
  }
  #twitter-widget-0 {
    height: 25px !important;
  }
  p {
    margin: 0;
  }
}
.blog-top-img {
  width: 590px;
  img {
    height: 370px;
    width: 100%;
    object-fit: cover;
  }
}
.blog-title-second {
  h2 {
    font-size: 2.166666rem;
  }
  p {
    font-size: 1.33333rem;
    margin: 0;
    // padding-bottom: 32px;
  }
}
.blog-title-third {
  h3 {
    font-size: 1.83333rem;
    margin: 32px 0 30px 0;
    padding-left: 10px;
    border-left: 4px solid #1b224c;
  }
  p:nth-child(2) {
    font-size: 1.3333rem;
    margin: 0;
  }
  .quote {
    font-size: 1.3333rem;
    background-color: #f8f8f8;
    padding: 27px 27px 17px 78px;
    position: relative;
  }
  .quote::before {
    position: absolute;
    top: 20px;
    left: 17px;
    font-size: 6rem;
    content: "❝";
    color: #b4b4b4;
  }
  img {
    width: 590px;
    height: 335px;
    object-fit: cover;
  }
  ul {
    margin: 30px 0 88px 0;
    li {
      font-size: 1.3333rem;
      position: relative;
      padding-left: 20px;
    }
    li::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      top: 4px;
      left: -2px;
      background-color: #f5a623;
      border-radius: 50%;
      display: inline-block;
      margin-right: 21px;
    }
  }
  a {
    font-size: 1.5rem;
    color: #f5a623;
    border-bottom: 1px solid #f5a623;
  }
}
.blog-recommend {
  margin: 60px 0 40px 0;
  h1 {
    font-size: 2.1666rem;
    margin-bottom: 30px;
  }
  li {
    display: flex;
    margin-bottom: 30px;
    
  }
}
.blog-recommend-left {
  position: relative;
  img {
    width: 210px;
    height: 128px;
    margin-right: 32px;
  }
  p {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 3px 18px;
    background-color: #1b224c;
    color: #fff;
    font-size: 1rem;
  }
}
.blog-recommend-right {
  p {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
  }
  a {
    font-size: 1.3333rem;
  }
}
.blog-sidebar {
  h1 {
    font-size: 1.75rem;
    background-color: #1b224c;
    color: #fff;
    width: 270px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 27px 0;
  }
  a {
    text-decoration: underline;
  }
  .blog-relate {
    li {
      display: flex;
      padding-bottom: 42px;
      p {
        margin: 0;
      }
      img {
        width: 100px;
        height: 70px;
        margin: 0;
        margin-right: 17px;
      }
    }
  }
  .blog-category {
    ul {
      margin: 0;
      li {
        font-size: 1.333rem;
        list-style: initial;
        list-style-position: inside;
        padding-bottom: 11px;
      }
    }
  }
}
@media (max-width: 930px) {
  .breadcrumbs {
    padding: 10px;
  }
  .blog-top-img {
    width: 100%;
  }
  .blog-title-third img {
    width: 100%;
  }
  .blog-body-wrapper {
    display: block;
  }
  .blog-main {
    width: 100%;
    margin-right: 0;
  }
  .blog-top-img {
    margin: 0 auto;
  }
  .blog-title-second {
    h2 {
      margin: 40px 0;
    }
  }
  .blog-title-third {
    h3 {
      margin: 60px 0 40px;
    }
    .quote {
      margin: 40px 0;
    }
  }
  .blog-recommend {
    li {
      display: block;
      margin: 40px 0 100px;
    }
  }
  .blog-recommend-left {
    img {
      width: 100%;
      height: 200px;
      margin-right: 0;
      object-fit: cover;
    }
  }
  .blog-sidebar {
    h1 {
      width: 100%;
    }
    .blog-relate {
      margin-top: 160px;
      li {
        img {
          width: 50%;
          height: auto;
        }
        a {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .breadcrumbs {
    a,
    span {
      margin-right: 5px;
    }
    .current-item {
      width: 180px;
    }
  }
}
// ---------information-page----------
#fv-information {
  background-image: url(../img/news.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 0;
  height: 221px;
  // padding-top: 17.265625%;
  position: relative;
  p {
    position: absolute;
    color: #fff;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.66666rem;
  }
}
#information {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
  h1 {
    font-size: 2.666666rem;
    text-align: center;
    margin: 58px 0 45px;
  }
  ul {
    margin: 0;
    margin-bottom: 65px;
    li {
      display: flex;
      padding: 21px 0;
      border-top: 1px solid #D5D5D5;
      a,
      time {
        font-size: 1.33333rem;
      }
      a {
        margin-left: 54px;
        text-decoration: underline;
      }
    }
    li:last-child {
      border-bottom: 1px solid #D5D5D5;
    }
  }
}
.information-content {
  margin-bottom: 65px;
  ul {
    li {
      display: flex;
      align-items: center;
      padding: 22px 0;
      border-top: 1px solid #d5d5d5;
      border-bottom: 1px solid #d5d5d5;
      a {
        padding-left: 54px;
      }
    }
  }
}

// -----information-detail-page---------
#information-detail-body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 53px;
  p {
    font-size: 1.3333rem;
  }
  h1 {
    font-size: 2.66666rem;
    text-align: center;
    margin: 60px 0 50px;
  }
  time {
    display: block;
    text-align: right;
    font-size: 1.3333rem;
  }
  .information-detail-first {
    h1 {
      text-align: left;
      font-size: 2.1666rem;
      margin-bottom: 30px;
    }
  }
  .information-detail-second {
    h2 {
      font-size: 1.83333rem;
      padding: 50px 0 30px;
    }
    p {
      margin-bottom: 50px;
    }
  }
  .quote {
    font-size: 1.3333rem;
    background-color: #f8f8f8;
    padding: 27px 27px 17px 78px;
    position: relative;
  }
  .quote::before {
    position: absolute;
    top: 15px;
    left: 17px;
    font-size: 6rem;
    content: "❝";
    color: #b4b4b4;
  }
  .information-detail-second-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    img {
      width: 100%;
      height: 250px;
    }
  }
  ul {
    margin: 36px 0 100px;
    li {
      position: relative;
      padding-left: 20px;
      font-size: 1.3333rem;
      padding-bottom: 20px;
    }
    li::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      top: 4px;
      left: -2px;
      background-color: #f5a623;
      border-radius: 50%;
      display: inline-block;
      margin-right: 21px;
    }
  }
  a {
    color: #f5a623;
    text-decoration: underline;
    font-size: 1.3333rem;
  }
}
@media (max-width: 767px) {
  #information-detail-body {
    .information-detail-second-img {
      width: 100%;
    }
  }
}
// ------form-page----------
#fv-form {
  background-image: url(../img/cta-1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 0;
  height: 221px;
  // padding-top: 17.265625%;
  position: relative;
  p {
    position: absolute;
    color: #fff;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 2.66666rem;
  }
}
#form {
  max-width: 700px;
  margin: 58px auto 80px;
  padding: 0 20px;
  p {
    margin: 0;
    font-size: 1.33333rem;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 1.33333rem;
    margin-bottom: 42px;
    font-weight: initial;
  }
  .form-label,.mwform-tel-field {
    // margin-bottom: 10px;
  }
  .mwform-tel-field {
    padding-bottom: 10px;
  }
  .form-text {
    width: 100%;
    padding: 17px 20px;
    margin-bottom: 17px;
    box-sizing: border-box;
  }
  .form-text::placeholder {
    color: #b4b4b4;
  }
  ul {
    margin: 16px 0 8x 0;
    li {
      padding-bottom: 13px;
    }
  }
  textarea {
    width: 100%;
    padding: 17px 20px;
    margin-bottom: 17px;
    box-sizing: border-box;
    resize: none;
    height: 240px;
  }
  .privacy {
    p {
      text-align: center;
      a {
        color: #f5a623;
        text-decoration: underline;
      }
    }
    label {
      display: block;
      text-align: center;
      margin: 0 0 46px 0;
      font-size: 1.333rem;
    }
    input {
      -ms-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      margin-right: 15px;
    }
  }
  .submit-wrapper {
    display: flex;
  }
  .send, .return {
    width: 200px;
    height: 50px;
    background-color: #1b224c;
    color: #fff;
    display: block;
    margin: 0 auto;
  }
  .mw_wp_form_confirm {
    form {
      h1 {
        display: none;
      }
      .privacy {
        p {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 930px) {
}
@media (max-width: 767px) {
}
// -----------end-page----------------
// 
.mw_wp_form_complete {
  .end {
    margin-top: 60px;
    a {
      text-decoration: underline;
    }
  } 
}